<div class="sw-cms-preview-ict-shop-look-slider">

    <sw-icon
        name="regular-chevron-left"
        size="10px"
    />

    <img
        :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
        alt=""
    />

    <img
        :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
        alt=""
    />

    <img
        :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
        alt=""
    />

    <img
        :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
        alt=""
    />

    <sw-icon
        name="regular-chevron-right"
        size="10px"
    />

</div>