<div class="sw-cms-preview-ict-shop-the-look-block">
    <img :src="assetFilter('/administration/static/img/cms/preview_mountain_large.jpg')" />
    <div class="preview-products">
        <div class="preview-product"></div>
        <div class="preview-product"></div>
        <div class="preview-product"></div>
    </div>
</div>
