<div class="sw-cms-preview-ict-shop-look-slider-block">
    <mt-icon name="regular-chevron-left" size="16" />
    <img :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')" />
    <img :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')" />
    <img :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')" />
    <img :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')" />
    <mt-icon name="regular-chevron-right" size="16" />
</div>
