<div class="sw-cms-el-preview-ict-shop-the-look">
    <img :src="assetFilter('administration/static/img/cms/preview_mountain_small.jpg')" />
    <div class="preview-products">
        <div class="preview-product"></div>
        <div class="preview-product"></div>
    </div>
</div>
